body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  overflow:hidden;
}
#u20326_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u20326_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u20327 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:25px;
  width:55px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u20328 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1300px;
  height:1px;
  overflow:hidden;
}
#u20329_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u20329_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u20330 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:21px;
  width:350px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u20331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:350px;
  word-wrap:break-word;
}
#u20332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u20332 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:35px;
  width:35px;
  height:35px;
}
#u20333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20334 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:440px;
  width:840px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20335 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:820px;
  word-wrap:break-word;
}
#u20336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
  text-align:right;
  line-height:36px;
}
#u20336 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:20px;
  width:179px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
  text-align:right;
  line-height:36px;
}
#u20337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u20339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:100px;
  color:#FFFFFF;
}
#u20339 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:120px;
  width:1200px;
  height:300px;
  font-size:100px;
  color:#FFFFFF;
}
#u20340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20341 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:325px;
  width:80px;
  height:80px;
}
#u20342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u20343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u20343 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:337px;
  width:474px;
  height:58px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u20344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u20345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20345 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20347 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20349 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20351 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:121px;
  width:1198px;
  height:188px;
  overflow:hidden;
}
#u20351_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/个人主页/u20277_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1398px 121px;
}
#u20351_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(241, 151, 54, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u20352 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:340px;
  width:65px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u20353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u20354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20355_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:52px;
}
#u20355 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:392px;
  width:181px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u20356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u20357 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:406px;
  width:180px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u20358 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u20359 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-75px;
  visibility:hidden;
}
#u20359_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  background-image:none;
}
#u20359_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u20360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u20361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:200px;
  word-wrap:break-word;
}
#u20359_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  visibility:hidden;
  background-image:none;
}
#u20359_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:36px;
}
#u20362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:36px;
}
#u20363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u20364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20364 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:346px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u20364_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20364.mouseOver {
  opacity:0.8;
}
#u20364_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20364.mouseDown {
  opacity:1;
}
#u20365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20366 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20368 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20370 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:342px;
  width:16px;
  height:16px;
}
#u20371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:36px;
}
#u20373 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2758px;
  width:1200px;
  height:125px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:36px;
}
#u20374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  word-wrap:break-word;
}
#u20376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:1194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
#u20377 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:440px;
  width:340px;
  height:1194px;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
#u20377_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:1194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
#u20377.mouseOver {
}
#u20378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20379 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:452px;
  width:300px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
.u20382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
}
.u20382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-size:48px;
  color:#FFFFFF;
}
.u20383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
.u20384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
.u20384 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
.u20385 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:190px;
  word-wrap:break-word;
}
#u20381-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u20381-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:300px;
  height:100px;
}
#u20381-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:300px;
  height:100px;
}
#u20381-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:300px;
  height:100px;
}
#u20381-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:300px;
  height:100px;
}
#u20381-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:300px;
  height:100px;
}
#u20381-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:300px;
  height:100px;
}
#u20381-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:770px;
  width:300px;
  height:100px;
}
#u20381-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:880px;
  width:300px;
  height:100px;
}
#u20381-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:300px;
  height:100px;
}
#u20381 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:512px;
  width:300px;
  height:1090px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20388 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:2670px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20388_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20388.mouseOver {
}
#u20388_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20388.selected {
}
#u20388_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20388.disabled {
}
#u20389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20390 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:2670px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20390_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20390.mouseOver {
}
#u20390_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20390.selected {
}
#u20390_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20390.disabled {
}
#u20391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20392 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:2670px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20392_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20392.mouseOver {
}
#u20392_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20392.selected {
}
#u20392_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20392.disabled {
}
#u20393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20394 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:2670px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20394_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20394.mouseOver {
}
#u20394_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20394.selected {
}
#u20394_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20394.disabled {
}
#u20395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20396 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:2670px;
  width:80px;
  height:35px;
  color:#999999;
}
#u20396_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20396.mouseOver {
}
#u20396_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20396.selected {
}
#u20396_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20396.disabled {
}
#u20397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u20398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20398 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:2670px;
  width:80px;
  height:35px;
  color:#999999;
}
#u20398_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20398.mouseOver {
}
#u20398_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20398.selected {
}
#u20398_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20398.disabled {
}
#u20399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u20400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20400 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2670px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20400_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20400.mouseOver {
}
#u20400_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20400.selected {
}
#u20400_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20400.disabled {
}
#u20401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20402 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:455px;
  width:58px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20402_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20402.mouseOver {
}
#u20403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:58px;
  word-wrap:break-word;
}
.u20405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
.u20405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:195px;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
.u20405_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
.u20405.mouseOver {
}
.u20406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
.u20407 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:31px;
  width:163px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
.u20408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
.u20409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
  line-height:20px;
}
.u20409 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:27px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
  line-height:20px;
}
.u20410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
.u20411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u20411 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:77px;
  width:711px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u20412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  word-wrap:break-word;
}
.u20413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u20413 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:145px;
  width:711px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u20414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:711px;
  word-wrap:break-word;
}
.u20415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u20415 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:145px;
  width:90px;
  height:40px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u20416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
.u20417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u20417 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:145px;
  width:90px;
  height:40px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u20418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
.u20419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:48px;
}
.u20419 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:33px;
  width:211px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:48px;
}
.u20420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:207px;
  word-wrap:break-word;
}
#u20404-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:195px;
}
#u20404-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:840px;
  height:195px;
}
#u20404-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:840px;
  height:195px;
}
#u20404-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:645px;
  width:840px;
  height:195px;
}
#u20404-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:860px;
  width:840px;
  height:195px;
}
#u20404-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1075px;
  width:840px;
  height:195px;
}
#u20404-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1290px;
  width:840px;
  height:195px;
}
#u20404-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1505px;
  width:840px;
  height:195px;
}
#u20404-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1720px;
  width:840px;
  height:195px;
}
#u20404-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1935px;
  width:840px;
  height:195px;
}
#u20404 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:510px;
  width:840px;
  height:2130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20422 {
  position:fixed;
  right:10px;
  bottom:10px;
}
#u20422_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:316px;
  height:250px;
  background-image:none;
}
#u20422_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20423 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:170px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20423_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20423.mouseOver {
}
#u20424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u20425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20425 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:85px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20425_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20425.mouseOver {
}
#u20426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u20427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20427 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20427_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20427.mouseOver {
}
#u20428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u20429 {
  position:absolute;
  left:0px;
  top:9px;
  visibility:hidden;
}
#u20429_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:226px;
  height:236px;
  background-image:none;
}
#u20429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20430_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:246px;
  height:236px;
}
#u20430 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:5px;
  width:236px;
  height:226px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u20431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:205px;
}
#u20432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:205px;
  height:205px;
}
#u20433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u20434 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:186px;
  width:168px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u20434_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u20434.mouseOver {
}
#u20435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u20436 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:0px;
  width:10px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
