body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:1241px;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:1030px;
  height:1240px;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:612px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2808_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2808.selected {
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u2812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:13px;
  width:14px;
  height:14px;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2814_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2814.selected {
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u2818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:93px;
  width:14px;
  height:14px;
  text-align:left;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2820_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2820.selected {
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2822_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2822.selected {
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u2826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:453px;
  width:14px;
  height:14px;
  text-align:left;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2828_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2828.selected {
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u2832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2832_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2832.selected {
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2834_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2834.selected {
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2836_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2836.selected {
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u2840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2840_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2840.selected {
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:573px;
  width:14px;
  height:14px;
  text-align:left;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2844_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2844.selected {
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2846_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2846.selected {
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2848_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2848.selected {
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2850_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2850.selected {
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:10px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2854_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u2854.selected {
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:14px;
  height:14px;
  text-align:left;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:130px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:130px;
  width:533px;
  height:25px;
}
#u2861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2861_input {
  font-family:'Arial';
}
#u2861_ann {
  border-width:0px;
  position:absolute;
  left:806px;
  top:126px;
  width:1px;
  height:1px;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:410px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:410px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u2866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1060px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2866_ann {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1056px;
  width:1px;
  height:1px;
}
#u2868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:570px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:571px;
  width:82px;
  height:25px;
  font-size:11px;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:571px;
  width:218px;
  height:25px;
}
#u2872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2872_input {
  font-family:'Arial';
}
#u2872_input:disabled {
  color:grayText;
}
#u2873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:450px;
  width:66px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u2873_ann {
  border-width:0px;
  position:absolute;
  left:253px;
  top:446px;
  width:1px;
  height:1px;
}
#u2875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:450px;
  width:80px;
  height:80px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u2875_ann {
  border-width:0px;
  position:absolute;
  left:608px;
  top:446px;
  width:1px;
  height:1px;
}
.u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u2878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u2879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2877-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2877-2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:80px;
  height:80px;
}
#u2877-3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:80px;
  height:80px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:450px;
  width:250px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:571px;
  width:82px;
  height:25px;
  font-size:11px;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u2882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:18px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:534px;
  width:398px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:610px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:50px;
  width:66px;
  height:25px;
  text-align:right;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:54px;
  width:80px;
  height:16px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2888_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:54px;
  width:80px;
  height:16px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2890_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2890_ann {
  border-width:0px;
  position:absolute;
  left:442px;
  top:50px;
  width:1px;
  height:1px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:90px;
  width:148px;
  height:25px;
}
#u2892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u2892_input {
  font-family:'Arial';
}
#u2892_input:disabled {
  color:grayText;
}
#u2892_ann {
  border-width:0px;
  position:absolute;
  left:421px;
  top:86px;
  width:1px;
  height:1px;
}
#u2893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:90px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:210px;
  width:148px;
  height:25px;
}
#u2895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u2895_input {
  font-family:'Arial';
}
#u2895_input:disabled {
  color:grayText;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:210px;
  width:53px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  white-space:nowrap;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:250px;
  width:70px;
  height:25px;
  text-align:right;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:250px;
  width:45px;
  height:25px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:250px;
  width:67px;
  height:25px;
}
#u2902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2902_input {
  font-family:'Arial';
}
#u2903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:250px;
  width:25px;
  height:25px;
  text-align:center;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:250px;
  width:67px;
  height:25px;
}
#u2905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2905_input {
  font-family:'Arial';
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:290px;
  width:70px;
  height:25px;
  text-align:right;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:290px;
  width:45px;
  height:25px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  white-space:nowrap;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:290px;
  width:67px;
  height:25px;
}
#u2910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2910_input {
  font-family:'Arial';
}
#u2911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:290px;
  width:25px;
  height:25px;
  text-align:center;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:290px;
  width:67px;
  height:25px;
}
#u2913_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2913_input {
  font-family:'Arial';
}
#u2914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:330px;
  width:70px;
  height:25px;
  text-align:right;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:330px;
  width:300px;
  height:25px;
}
#u2916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2916_input {
  font-family:'Arial';
}
#u2917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:370px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:370px;
  width:64px;
  height:25px;
}
#u2919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2919_input {
  font-family:'Arial';
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:370px;
  width:64px;
  height:25px;
}
#u2920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2920_input {
  font-family:'Arial';
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:370px;
  width:64px;
  height:25px;
}
#u2921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2921_input {
  font-family:'Arial';
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:370px;
  width:64px;
  height:25px;
}
#u2922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2922_input {
  font-family:'Arial';
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:370px;
  width:64px;
  height:25px;
}
#u2923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2923_input {
  font-family:'Arial';
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:370px;
  width:64px;
  height:25px;
}
#u2924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2924_input {
  font-family:'Arial';
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:370px;
  width:64px;
  height:25px;
}
#u2925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2925_input {
  font-family:'Arial';
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:640px;
  width:990px;
  height:400px;
}
#u2926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:400px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2926_input {
  font-family:'Arial';
}
#u2926_ann {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:636px;
  width:1px;
  height:1px;
}
#u2927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:170px;
  width:53px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  white-space:nowrap;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:170px;
  width:533px;
  height:25px;
}
#u2929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2929_input {
  font-family:'Arial';
}
#u2929_ann {
  border-width:0px;
  position:absolute;
  left:806px;
  top:166px;
  width:1px;
  height:1px;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:614px;
  width:125px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2930_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:10px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:right;
}
#u2933_img.mouseOver {
}
#u2933.mouseOver {
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
