body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:1241px;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:1030px;
  height:1240px;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:612px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8901_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8901.selected {
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:13px;
  width:14px;
  height:14px;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8907_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8907.selected {
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8911 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:93px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8913_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8913.selected {
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8915_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8915.selected {
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:453px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8921_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8921.selected {
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8925_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8925.selected {
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8927_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8927.selected {
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8929_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8929.selected {
}
#u8930 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8932 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8933_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8933.selected {
}
#u8934 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8935 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:573px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8936 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8937_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8937.selected {
}
#u8938 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8939_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8939.selected {
}
#u8940 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8941_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8941.selected {
}
#u8942 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8943_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8943.selected {
}
#u8944 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u8945 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:10px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8947_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8947.selected {
}
#u8948 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8949 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8950 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:349px;
}
#u8951 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:685px;
  width:990px;
  height:348px;
}
#u8952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:166px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u8953 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:650px;
  width:100px;
  height:35px;
}
#u8953_img.selected {
}
#u8953.selected {
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:650px;
  width:100px;
  height:35px;
}
#u8955_img.selected {
}
#u8955.selected {
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u8957 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:650px;
  width:100px;
  height:35px;
}
#u8957_img.selected {
}
#u8957.selected {
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u8959 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:650px;
  width:100px;
  height:35px;
}
#u8959_img.selected {
}
#u8959.selected {
}
#u8960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8961 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:50px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8963 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:50px;
  width:142px;
  height:20px;
}
#u8964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:79px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:21px;
}
#u8967 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:79px;
  width:278px;
  height:20px;
}
#u8968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:280px;
  white-space:nowrap;
}
#u8969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8969 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:138px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u8971 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:138px;
  width:57px;
  height:20px;
}
#u8972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u8973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8973 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:167px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8975 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:257px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8977 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:257px;
  width:142px;
  height:20px;
}
#u8978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8979 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:286px;
  width:80px;
  height:20px;
  font-family:'Arial';
  font-weight:690;
  font-style:normal;
  text-align:right;
}
#u8980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8981 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:286px;
  width:142px;
  height:20px;
}
#u8982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8983 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:316px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8985 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:316px;
  width:142px;
  height:20px;
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:345px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8989 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:345px;
  width:142px;
  height:20px;
}
#u8990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8991 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:374px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8993 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:374px;
  width:142px;
  height:20px;
}
#u8994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8995 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:404px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u8996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u8997 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:404px;
  width:142px;
  height:20px;
}
#u8998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u8999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8999 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:433px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u9000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u9001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u9001 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:433px;
  width:142px;
  height:20px;
}
#u9002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u9003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u9003 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:463px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u9004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u9005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u9005 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:463px;
  width:142px;
  height:20px;
}
#u9006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u9007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u9007 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:492px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u9008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u9009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u9009 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:492px;
  width:142px;
  height:20px;
}
#u9010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u9011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u9011 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:522px;
  width:80px;
  height:20px;
  font-family:'Arial';
  font-weight:690;
  font-style:normal;
  text-align:right;
}
#u9012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u9013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u9013 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:522px;
  width:142px;
  height:20px;
}
#u9014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u9015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u9015 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:559px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u9016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u9017 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:167px;
  width:80px;
  height:80px;
}
#u9018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u9020 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:10px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:right;
}
#u9020_img.mouseOver {
}
#u9020.mouseOver {
}
#u9021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u9022 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:108px;
  width:80px;
  height:20px;
  font-family:'Arial';
  font-weight:690;
  font-style:normal;
  text-align:right;
}
#u9023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u9024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u9024 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:108px;
  width:47px;
  height:20px;
}
#u9025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
