body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:707px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:706px;
  color:#FFFFFF;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:345px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:12px;
  width:333px;
  word-wrap:break-word;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  color:#FFFFFF;
  text-align:right;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:365px;
  word-wrap:break-word;
}
#u1587_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:40px;
  width:1px;
  height:1px;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:60px;
  width:26px;
  height:20px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:375px;
  height:50px;
  text-align:left;
  line-height:18px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:7px;
  width:338px;
  word-wrap:break-word;
}
#u1593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:107px;
  width:16px;
  height:25px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:26px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:375px;
  height:25px;
  text-align:left;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:363px;
  word-wrap:break-word;
}
.u1598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:96px;
}
.u1598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  font-size:20px;
  text-align:right;
}
.u1599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
.u1600 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:75px;
  height:75px;
}
.u1601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  word-wrap:break-word;
}
.u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:37px;
}
.u1602 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:10px;
  width:274px;
  height:36px;
  font-size:13px;
}
.u1603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:274px;
  word-wrap:break-word;
}
.u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
.u1604 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:68px;
  width:69px;
  height:16px;
  font-size:11px;
  color:#FF0000;
}
.u1605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:68px;
  white-space:nowrap;
}
.u1606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
.u1606 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:49px;
  width:219px;
  height:16px;
  font-size:11px;
  color:#999999;
}
.u1607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:217px;
  white-space:nowrap;
}
#u1597-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
}
#u1597-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:375px;
  height:95px;
}
#u1597-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:95px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:475px;
  width:375px;
  height:48px;
  text-align:left;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:363px;
  word-wrap:break-word;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:538px;
  width:211px;
  height:141px;
  overflow:hidden;
}
#u1611_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:141px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1611_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  line-height:20px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1612_ann {
  border-width:0px;
  position:absolute;
  left:172px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:93px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1614_ann {
  border-width:0px;
  position:absolute;
  left:86px;
  top:16px;
  width:1px;
  height:1px;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:151px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1616_ann {
  border-width:0px;
  position:absolute;
  left:144px;
  top:36px;
  width:1px;
  height:1px;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:185px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1618_ann {
  border-width:0px;
  position:absolute;
  left:178px;
  top:56px;
  width:1px;
  height:1px;
}
#u1620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:185px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1620_ann {
  border-width:0px;
  position:absolute;
  left:178px;
  top:76px;
  width:1px;
  height:1px;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:185px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1622_ann {
  border-width:0px;
  position:absolute;
  left:178px;
  top:96px;
  width:1px;
  height:1px;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:185px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1624_ann {
  border-width:0px;
  position:absolute;
  left:178px;
  top:116px;
  width:1px;
  height:1px;
}
#u1610_ann {
  border-width:0px;
  position:absolute;
  left:203px;
  top:534px;
  width:1px;
  height:1px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:33px;
  width:40px;
  height:18px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:29px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#999999;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:37px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:33px;
  width:534px;
  height:36px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:534px;
  white-space:nowrap;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:0px;
  width:53px;
  height:18px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:27px;
  height:18px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:350px;
  width:40px;
  height:18px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:457px;
  width:40px;
  height:18px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:453px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#999999;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:456px;
  width:131px;
  height:18px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:131px;
  white-space:nowrap;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:693px;
  width:40px;
  height:18px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:19px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:491px;
  width:404px;
  height:18px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:404px;
  white-space:nowrap;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:807px;
  width:40px;
  height:18px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:489px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#999999;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:493px;
  width:261px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:488px;
  width:60px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:141px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:520px;
  width:295px;
  height:140px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:615px;
  width:1px;
  height:45px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:46px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:615px;
  width:147px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#007AFF;
  text-align:center;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:615px;
  width:148px;
  height:45px;
  font-size:16px;
  color:#007AFF;
  text-align:center;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:141px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:169px;
  width:295px;
  height:140px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:46px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:264px;
  width:295px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#007AFF;
  text-align:center;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:295px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:81px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:81px;
  width:100px;
  height:60px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:111px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1679_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:201px;
  height:8px;
}
#u1679_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:81px;
  width:100px;
  height:60px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:111px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1683_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u1683_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:111px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1685_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u1685_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:136px;
}
#u1685_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:124px;
  width:179px;
  height:8px;
}
#u1685_seg3 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:119px;
  width:18px;
  height:18px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:110px;
  width:100px;
  word-wrap:break-word;
}
#u1687 {
  position:fixed;
  left:0px;
  top:532px;
}
#u1687_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:37px;
  background-image:none;
}
#u1687_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:37px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  color:#FFFFFF;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:5px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#999999;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:5px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#999999;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1694_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background-image:none;
}
#u1694_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u1699_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:7px;
  width:1px;
  height:1px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
