body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1136px;
  width:1600px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:500px;
  overflow:hidden;
}
#u373_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
}
#u373_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:260px;
  width:430px;
  height:101px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:361px;
  width:30px;
  height:663px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:361px;
  width:26px;
  height:663px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1024px;
  width:430px;
  height:102px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:360px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u384_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u384_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
}
#u385_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
  overflow:scroll;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:261px;
  width:430px;
  height:101px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:362px;
  width:30px;
  height:663px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:362px;
  width:26px;
  height:663px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:1025px;
  width:430px;
  height:102px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:361px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u396_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u396_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
}
#u397_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
  overflow:scroll;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:64px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:260px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:64px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:1600px;
  word-wrap:break-word;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:1166px;
  width:225px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  line-height:24px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:221px;
  word-wrap:break-word;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:1164px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:1321px;
  top:1170px;
  width:35px;
  height:37px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:260px;
  width:430px;
  height:101px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:361px;
  width:30px;
  height:663px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:361px;
  width:26px;
  height:663px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:1024px;
  width:430px;
  height:102px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:360px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u418_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u418_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
}
#u419_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
  overflow:scroll;
}
