body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:1079px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20437 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:512px;
  width:840px;
  height:1079px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20438 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:532px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  overflow:hidden;
}
#u20440_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u20440_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u20441 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:25px;
  width:55px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u20442 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1300px;
  height:1px;
  overflow:hidden;
}
#u20443_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u20443_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u20444 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:21px;
  width:350px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u20445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:350px;
  word-wrap:break-word;
}
#u20446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u20446 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:35px;
  width:35px;
  height:35px;
}
#u20447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20448 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:440px;
  width:840px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20449 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:820px;
  word-wrap:break-word;
}
#u20450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
  text-align:right;
  line-height:36px;
}
#u20450 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:20px;
  width:179px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
  text-align:right;
  line-height:36px;
}
#u20451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u20453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:100px;
  color:#FFFFFF;
}
#u20453 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:120px;
  width:1200px;
  height:300px;
  font-size:100px;
  color:#FFFFFF;
}
#u20454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20455 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:325px;
  width:80px;
  height:80px;
}
#u20456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u20457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u20457 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:337px;
  width:474px;
  height:58px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u20458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u20459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20459 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20461 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20463 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20465 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:121px;
  width:1198px;
  height:188px;
  overflow:hidden;
}
#u20465_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/个人主页/u20277_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1398px 121px;
}
#u20465_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(241, 151, 54, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u20466 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:340px;
  width:65px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u20467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u20468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20469_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:187px;
  height:52px;
}
#u20469 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:392px;
  width:181px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u20470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u20471 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:406px;
  width:180px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u20472 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u20473 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-75px;
  visibility:hidden;
}
#u20473_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  background-image:none;
}
#u20473_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u20474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u20475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:200px;
  word-wrap:break-word;
}
#u20473_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  visibility:hidden;
  background-image:none;
}
#u20473_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:36px;
}
#u20476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:36px;
}
#u20477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u20478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20478 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:346px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u20478_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20478.mouseOver {
  opacity:0.8;
}
#u20478_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20478.mouseDown {
  opacity:1;
}
#u20479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20480 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u20482 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:337px;
  width:90px;
  height:58px;
  text-align:center;
  line-height:28px;
}
#u20483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u20484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20484 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:342px;
  width:16px;
  height:16px;
}
#u20485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
.u20487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:92px;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
.u20487_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
.u20487.mouseOver {
}
.u20488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:800px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
.u20489 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:19px;
  width:120px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
.u20490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
.u20491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
  line-height:20px;
}
.u20491 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:15px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
  line-height:20px;
}
.u20492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
.u20493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20493 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:20px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
.u20493_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20493.mouseOver {
  opacity:0.8;
}
.u20493_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u20493.mouseDown {
  opacity:1;
}
.u20494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
.u20495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u20495 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:21px;
  width:16px;
  height:16px;
}
.u20496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
.u20497 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:37px;
  width:419px;
  height:30px;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
.u20498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u20486-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:92px;
}
#u20486-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:800px;
  height:92px;
}
#u20486-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:800px;
  height:92px;
}
#u20486-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:800px;
  height:92px;
}
#u20486-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:800px;
  height:92px;
}
#u20486-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:800px;
  height:92px;
}
#u20486-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:612px;
  width:800px;
  height:92px;
}
#u20486-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:714px;
  width:800px;
  height:92px;
}
#u20486-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:816px;
  width:800px;
  height:92px;
}
#u20486-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:918px;
  width:800px;
  height:92px;
}
#u20486 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:533px;
  width:800px;
  height:1010px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20499 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:455px;
  width:58px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20499_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20499.mouseOver {
}
#u20500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:58px;
  word-wrap:break-word;
}
#u20501 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-75px;
  visibility:hidden;
}
#u20501_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  background-image:none;
}
#u20501_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u20502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u20503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:200px;
  word-wrap:break-word;
}
#u20501_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  visibility:hidden;
  background-image:none;
}
#u20501_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:36px;
}
#u20504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:36px;
}
#u20505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u20507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:36px;
}
#u20507 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1724px;
  width:1200px;
  height:125px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:36px;
}
#u20508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  word-wrap:break-word;
}
#u20510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20511 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:1635px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20511_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20511.mouseOver {
}
#u20511_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20511.selected {
}
#u20511_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20511.disabled {
}
#u20512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20513 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1635px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20513_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20513.mouseOver {
}
#u20513_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20513.selected {
}
#u20513_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20513.disabled {
}
#u20514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20515 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1635px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20515_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20515.mouseOver {
}
#u20515_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20515.selected {
}
#u20515_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20515.disabled {
}
#u20516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20517 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1635px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20517_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20517.mouseOver {
}
#u20517_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20517.selected {
}
#u20517_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20517.disabled {
}
#u20518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20519 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1635px;
  width:80px;
  height:35px;
  color:#999999;
}
#u20519_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20519.mouseOver {
}
#u20519_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20519.selected {
}
#u20519_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20519.disabled {
}
#u20520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u20521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20521 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1635px;
  width:80px;
  height:35px;
  color:#999999;
}
#u20521_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20521.mouseOver {
}
#u20521_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20521.selected {
}
#u20521_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20521.disabled {
}
#u20522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u20523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20523 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:1635px;
  width:35px;
  height:35px;
  color:#999999;
}
#u20523_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20523.mouseOver {
}
#u20523_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20523.selected {
}
#u20523_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20523.disabled {
}
#u20524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u20526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:1194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
#u20527 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:440px;
  width:340px;
  height:1194px;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
#u20527_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:1194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  line-height:36px;
}
#u20527.mouseOver {
}
#u20528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20529 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:452px;
  width:300px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u20530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
.u20532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
}
.u20532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-size:48px;
  color:#FFFFFF;
}
.u20533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
.u20534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
.u20534 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
.u20535 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:190px;
  word-wrap:break-word;
}
#u20531-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u20531-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:300px;
  height:100px;
}
#u20531-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:300px;
  height:100px;
}
#u20531-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:300px;
  height:100px;
}
#u20531-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:300px;
  height:100px;
}
#u20531-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:300px;
  height:100px;
}
#u20531-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:300px;
  height:100px;
}
#u20531-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:770px;
  width:300px;
  height:100px;
}
#u20531-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:880px;
  width:300px;
  height:100px;
}
#u20531-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:300px;
  height:100px;
}
#u20531 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:512px;
  width:300px;
  height:1090px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u20537 {
  position:fixed;
  right:10px;
  bottom:10px;
}
#u20537_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:316px;
  height:250px;
  background-image:none;
}
#u20537_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20538 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:170px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20538_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20538.mouseOver {
}
#u20539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u20540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20540 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:85px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20540_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20540.mouseOver {
}
#u20541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u20542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20542 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20542_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u20542.mouseOver {
}
#u20543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u20544 {
  position:absolute;
  left:0px;
  top:9px;
  visibility:hidden;
}
#u20544_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:226px;
  height:236px;
  background-image:none;
}
#u20544_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20545_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:246px;
  height:236px;
}
#u20545 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:5px;
  width:236px;
  height:226px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u20546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:205px;
}
#u20547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:205px;
  height:205px;
}
#u20548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u20549 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:186px;
  width:168px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u20549_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u20549.mouseOver {
}
#u20550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u20551 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:0px;
  width:10px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
