body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:1241px;
}
#u8629 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:1030px;
  height:1240px;
}
#u8630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:612px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8631_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8631.selected {
}
#u8632 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8634 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8635 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:13px;
  width:14px;
  height:14px;
}
#u8636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8637_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8637.selected {
}
#u8638 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8640 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8641 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:93px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8642 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8643_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8643.selected {
}
#u8644 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8645_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8645.selected {
}
#u8646 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8649 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:453px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8650 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8651_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8651.selected {
}
#u8652 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8654 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8655_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8655.selected {
}
#u8656 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8657_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8657.selected {
}
#u8658 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8659_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8659.selected {
}
#u8660 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8662 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8663_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8663.selected {
}
#u8664 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8665 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:573px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8666 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8667_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8667.selected {
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8669_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8669.selected {
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8671_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8671.selected {
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8673_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8673.selected {
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:10px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8677_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8677.selected {
}
#u8678 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8679 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8680 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:10px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:right;
}
#u8682_img.mouseOver {
}
#u8682.mouseOver {
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
.u8685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
.u8685 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8686 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
.u8687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
}
.u8687 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:250px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
.u8689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8689 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:left;
}
.u8690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
.u8691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
.u8691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8692 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
.u8693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8693 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
.u8695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8695 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
.u8697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
.u8697 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:140px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
.u8698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
.u8699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8699 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
.u8700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8684-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:36px;
}
#u8684-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:990px;
  height:36px;
}
#u8684-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:990px;
  height:36px;
}
#u8684-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:990px;
  height:36px;
}
#u8684-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:990px;
  height:36px;
}
#u8684-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:990px;
  height:36px;
}
#u8684-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:990px;
  height:36px;
}
#u8684-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:990px;
  height:36px;
}
#u8684-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:990px;
  height:36px;
}
#u8684-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:990px;
  height:36px;
}
#u8684-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:990px;
  height:36px;
}
#u8684-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:990px;
  height:36px;
}
#u8684-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:432px;
  width:990px;
  height:36px;
}
#u8684-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:468px;
  width:990px;
  height:36px;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:85px;
  width:990px;
  height:504px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8701_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:33px;
}
#u8701 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u8703_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:33px;
}
#u8703 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:50px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8705_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8705 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:50px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8707_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8707 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:50px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8709_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:253px;
  height:33px;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:50px;
  width:250px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u8711_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:33px;
}
#u8711 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:50px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u8713_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8713 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:50px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8715_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8715 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:50px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
