body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:45px;
  font-size:14px;
  text-align:left;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:49px;
  width:276px;
  height:35px;
}
#u1889_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1889_input {
  font-family:'Arial';
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:375px;
  height:45px;
  font-size:14px;
  text-align:left;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:94px;
  width:276px;
  height:35px;
}
#u1892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1892_input {
  font-family:'Arial';
}
#u1893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:375px;
  height:45px;
  font-size:14px;
  text-align:left;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:146px;
  width:85px;
  height:22px;
}
#u1895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1895_input {
  font-family:'Arial';
}
#u1895_input:disabled {
  color:grayText;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:146px;
  width:85px;
  height:22px;
}
#u1896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1896_input {
  font-family:'Arial';
}
#u1896_input:disabled {
  color:grayText;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:146px;
  width:85px;
  height:22px;
}
#u1897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1897_input {
  font-family:'Arial';
}
#u1897_input:disabled {
  color:grayText;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:179px;
  width:375px;
  height:170px;
}
#u1898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1898_input {
  font-family:'Arial';
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  word-wrap:break-word;
}
#u1901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u1903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
