body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:1241px;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:1030px;
  height:1240px;
}
#u8299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:612px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8300_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8300.selected {
}
#u8301 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8303 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8304 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:13px;
  width:14px;
  height:14px;
}
#u8305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8306_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8306.selected {
}
#u8307 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8309 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8310 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:93px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8311 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8312_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8312.selected {
}
#u8313 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8314_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8314.selected {
}
#u8315 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8317 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8318 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:453px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8319 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8320_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8320.selected {
}
#u8321 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8323 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8324_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8324.selected {
}
#u8325 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8326_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8326.selected {
}
#u8327 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8328_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8328.selected {
}
#u8329 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8331 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8332_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8332.selected {
}
#u8333 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8334 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:573px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8335 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8336_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8336.selected {
}
#u8337 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8338_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8338.selected {
}
#u8339 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8340_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8340.selected {
}
#u8341 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8342_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8342.selected {
}
#u8343 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:10px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8346_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8346.selected {
}
#u8347 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8348 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8349 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u8351 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:10px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:right;
}
#u8351_img.mouseOver {
}
#u8351.mouseOver {
}
#u8352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:26px;
}
#u8353 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:50px;
  width:351px;
  height:25px;
  font-size:14px;
}
#u8354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:351px;
  white-space:nowrap;
}
.u8356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
.u8356 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:340px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8357 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8358 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:100px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8360 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:100px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8363 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
.u8364 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:150px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8366 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:100px;
  height:35px;
  color:#1E1E1E;
  text-align:left;
}
.u8367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
.u8368 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:0px;
  width:100px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#1E1E1E;
  text-align:left;
}
.u8369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8355-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:35px;
}
#u8355-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:990px;
  height:35px;
}
#u8355-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:990px;
  height:35px;
}
#u8355-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:990px;
  height:35px;
}
#u8355-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:990px;
  height:35px;
}
#u8355-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:990px;
  height:35px;
}
#u8355-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:990px;
  height:35px;
}
#u8355-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:990px;
  height:35px;
}
#u8355-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:990px;
  height:35px;
}
#u8355-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:990px;
  height:35px;
}
#u8355-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:990px;
  height:35px;
}
#u8355-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:990px;
  height:35px;
}
#u8355-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:990px;
  height:35px;
}
#u8355-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:455px;
  width:990px;
  height:35px;
}
#u8355 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:135px;
  width:990px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8370_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8372_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8374_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:33px;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:100px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u8374_ann {
  border-width:0px;
  position:absolute;
  left:973px;
  top:96px;
  width:1px;
  height:1px;
}
#u8376_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8376_ann {
  border-width:0px;
  position:absolute;
  left:723px;
  top:96px;
  width:1px;
  height:1px;
}
#u8378_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8378_ann {
  border-width:0px;
  position:absolute;
  left:823px;
  top:96px;
  width:1px;
  height:1px;
}
#u8380_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:33px;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:100px;
  width:340px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u8382_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
