body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:1241px;
}
#u8536 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:1030px;
  height:1240px;
}
#u8537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:612px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8538_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8538.selected {
}
#u8539 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8541 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8542 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:13px;
  width:14px;
  height:14px;
}
#u8543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8544_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8544.selected {
}
#u8545 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8547 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8548 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:93px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8549 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8550_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8550.selected {
}
#u8551 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8552_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8552.selected {
}
#u8553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8555 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8556 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:453px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8557 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8558_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8558.selected {
}
#u8559 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8561 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8562_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8562.selected {
}
#u8563 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8564_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8564.selected {
}
#u8565 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8566_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8566.selected {
}
#u8567 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8569 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8570_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8570.selected {
}
#u8571 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8572 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:573px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8573 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8574_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8574.selected {
}
#u8575 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8576_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8576.selected {
}
#u8577 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8578_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8578.selected {
}
#u8579 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8580_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8580.selected {
}
#u8581 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u8582 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:10px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8584_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8584.selected {
}
#u8585 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8586 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8587 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8588 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:50px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u8590 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:54px;
  width:70px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8591 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8590_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8592 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:54px;
  width:70px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8593 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8592_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8594 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:54px;
  width:70px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8595 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8594_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8596 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:120px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:72px;
  white-space:nowrap;
}
#u8598 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:120px;
  width:150px;
  height:25px;
}
#u8598_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8598_input {
  font-family:'Arial';
}
#u8598_input:disabled {
  color:grayText;
}
#u8599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8599 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:85px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u8601 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:59px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8602 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u8601_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8603 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:88px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8604 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u8603_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8605 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:155px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u8607 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:159px;
  width:70px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8608 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8607_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8609 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:159px;
  width:70px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8610 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8609_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8611 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:159px;
  width:70px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8612 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8611_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8613 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:190px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u8615 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:190px;
  width:750px;
  height:25px;
}
#u8615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8615_input {
  font-family:'Arial';
}
#u8616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8616 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:225px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u8618 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:225px;
  width:750px;
  height:25px;
}
#u8618_input {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8618_input {
  font-family:'Arial';
}
#u8619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u8619 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:298px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u8621 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:260px;
  width:750px;
  height:100px;
}
#u8621_input {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8621_input {
  font-family:'Arial';
}
#u8622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8622 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:420px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8624 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:382px;
  width:149px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8625 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u8624_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u8626 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:450px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
