body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:409px;
  width:375px;
  height:45px;
  font-size:16px;
  text-align:left;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:363px;
  word-wrap:break-word;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:375px;
  height:49px;
  color:#999999;
  text-align:left;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:557px;
  width:375px;
  height:45px;
  font-size:18px;
  color:#FF0000;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:602px;
  width:375px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:375px;
  height:45px;
  font-size:16px;
  text-align:left;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:363px;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:375px;
  height:45px;
  text-align:right;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:360px;
  word-wrap:break-word;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:45px;
  text-align:right;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:360px;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  word-wrap:break-word;
}
#u1449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
