body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:1241px;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:1030px;
  height:1240px;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:612px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8199_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8199.selected {
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8202 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:13px;
  width:14px;
  height:14px;
}
#u8204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8205_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8205.selected {
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8208 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8209 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:93px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8210 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8211_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8211.selected {
}
#u8212 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8213_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8213.selected {
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:453px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8219_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8219.selected {
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8223_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8223.selected {
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8225_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8225.selected {
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8227_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8227.selected {
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u8231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8231_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8231.selected {
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:573px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8235_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8235.selected {
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8237_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8237.selected {
}
#u8238 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8239_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8239.selected {
}
#u8240 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8241_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8241.selected {
}
#u8242 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u8243 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:10px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u8245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:150px;
  height:40px;
  text-align:left;
}
#u8245_img.selected {
  left:-2px;
  top:-2px;
  width:155px;
  height:45px;
}
#u8245.selected {
}
#u8246 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8247 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:14px;
  height:14px;
  text-align:left;
}
#u8248 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8249 {
  position:absolute;
  left:200px;
  top:90px;
}
#u8249_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:591px;
  height:98px;
  background-image:none;
}
#u8249_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8251 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u8250_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:519px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8253 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u8252_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:543px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8255 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u8254_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8249_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:633px;
  height:98px;
  visibility:hidden;
  background-image:none;
}
#u8249_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8257 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:498px;
  word-wrap:break-word;
}
#u8256_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:598px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8259 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u8258_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:632px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8261 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u8260_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8249_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:666px;
  height:98px;
  visibility:hidden;
  background-image:none;
}
#u8249_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8263 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u8262_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:555px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8265 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:537px;
  word-wrap:break-word;
}
#u8264_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:580px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8267 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:562px;
  word-wrap:break-word;
}
#u8266_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8249_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:711px;
  height:98px;
  visibility:hidden;
  background-image:none;
}
#u8249_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8269 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:692px;
  word-wrap:break-word;
}
#u8268_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:568px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8271 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u8270_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:579px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u8272_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8249_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:666px;
  height:98px;
  visibility:hidden;
  background-image:none;
}
#u8249_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8275 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u8274_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:561px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8277 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u8276_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:665px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8279 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u8278_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:90px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8280_img.selected {
}
#u8280.selected {
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:50px;
  width:90px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8282_img.selected {
}
#u8282.selected {
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:50px;
  width:90px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8284_img.selected {
}
#u8284.selected {
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:50px;
  width:90px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8286_img.selected {
}
#u8286.selected {
}
#u8287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u8288 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:50px;
  width:90px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8288_img.selected {
}
#u8288.selected {
}
#u8289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u8290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u8290 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:80px;
  width:510px;
  height:1px;
}
#u8291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u8293 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:10px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:right;
}
#u8293_img.mouseOver {
}
#u8293.mouseOver {
}
#u8294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u8295 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:221px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
