body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  word-wrap:break-word;
}
#u1909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:11px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u1913 {
  position:fixed;
  left:0px;
  top:602px;
}
#u1913_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  background-image:none;
}
#u1913_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
.u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:19px;
}
.u1917 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:28px;
  width:356px;
  height:18px;
  color:#999999;
}
.u1918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
.u1919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
.u1919 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:10px;
  width:81px;
  height:15px;
  font-size:13px;
  color:#666666;
}
.u1920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
.u1921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
.u1921 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:29px;
  height:20px;
  font-size:14px;
}
.u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u1923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:71px;
}
.u1923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  font-size:14px;
  text-align:left;
}
.u1924 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u1916-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:70px;
}
#u1916-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:70px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
